@model Lab01Ak.Models.ContactModel

@{
ViewBag.Title = "Szczegóły Kontaktu";
Layout = "_Layout";
}

<h2>Szczegóły Kontaktu</h2>

<h3>@Model.FirstName @Model.LastName</h3>

<div class="contact-details">
    <p><strong>Imię:</strong> @Model.FirstName</p>
    <p><strong>Nazwisko:</strong> @Model.LastName</p>
    <p><strong>Email:</strong> @Model.Email</p>
    <p><strong>Numer Telefonu:</strong> @Model.PhoneNumber</p>
    <p><strong>Data Urodzenia:</strong> @Model.BirthDate.ToString("dd-MM-yyyy")</p>
    <p><strong>Kategoria:</strong> @Model.Category</p> 
</div>

<a asp-action="Index" class="btn btn-secondary">Wróć do listy</a>
