@model Dictionary<int, Employee>

<h2>Lista pracowników</h2>
<table class="table">
    <thead>
    <tr>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Stanowisko</th>
        <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
    <tr>
        <td>@item.Value.FirstName</td>
        <td>@item.Value.LastName</td>
        <td>@item.Value.Position</td>
        <td>
            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Key">Edytuj</a>
            <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.Key">Szczegóły</a>
            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Key">Usuń</a>
        </td>
    </tr>
    }
    <a class="btn btn-primary" asp-action="Create" asp-controller="Employee">Dodaj Pracownika</a>
    </tbody>
</table>
